<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <div class="row" data-comp-id="row.2">
                    <div class="col" data-comp-id="column.2"></div>
                </div>
            </div>
        </div>
        <div class="row" data-comp-id="row.3">
            <div class="col" data-comp-id="column.3">
                <h3 data-comp-id="text.1" style="font-style: normal;">Plugin list</h3>
            </div>
        </div>
        <div class="item item-icon-right" data-comp-id="item.1"
            ng-click="app.go('app.touchid')">
            <div data-comp-id="text.2">Touch ID
                <span class="item-note"></span>
            </div>
            <i class="icon ion-ios-arrow-right" data-comp-id="icon.1" style="font-size:32px"></i>
        </div>
        <div class="item item-icon-right" data-comp-id="item.2"
            ng-click="app.go('app.ionickeyboard')">
            <div data-comp-id="text.3">Ionic keyboard
                <span class="item-note"></span>
            </div>
            <i class="icon ion-ios-arrow-right" data-comp-id="icon.2" style="font-size:32px"></i>
        </div>
        <div class="item item-icon-right" data-comp-id="item.3"
            ng-click="app.go('app.inappbrowser')">
            <div data-comp-id="text.4">Inappbrowser
                <span class="item-note"></span>
            </div>
            <i class="icon ion-ios-arrow-right" data-comp-id="icon.3" style="font-size:32px"></i>
        </div>
        <div class="item item-icon-right" data-comp-id="item.4"
            ng-click="app.go('app.barcodescanning')">
            <div data-comp-id="text.5">Barcode scanning
                <span class="item-note"></span>
            </div>
            <i class="icon ion-ios-arrow-right" data-comp-id="icon.4" style="font-size:32px"></i>
        </div>
        <div class="item item-icon-right" data-comp-id="item.5"
            ng-click="app.go('app.securestorage')">
            <div data-comp-id="text.6">Secure storage
                <span class="item-note"></span>
            </div>
            <i class="icon ion-ios-arrow-right" data-comp-id="icon.5" style="font-size:32px"></i>
        </div>
        <div class="item item-icon-right" data-comp-id="item.6"
            ng-click="app.go('app.pdfpreview')">
            <div data-comp-id="text.7">PDF preview
                <span class="item-note"></span>
            </div>
            <i class="icon ion-ios-arrow-right" data-comp-id="icon.6" style="font-size:32px"></i>
        </div>
        <div class="item item-icon-right" data-comp-id="item.7"
            ng-click="app.go('app.camera')">
            <div data-comp-id="text.8">Camera
                <span class="item-note"></span>
            </div>
            <i class="icon ion-ios-arrow-right" data-comp-id="icon.7" style="font-size:32px"></i>
        </div>
        <div class="item item-icon-right" data-comp-id="item.8"
            ng-click="app.go('app.screenrotation')">
            <div data-comp-id="text.9">Screen rotation
                <span class="item-note"></span>
            </div>
            <i class="icon ion-ios-arrow-right" data-comp-id="icon.8" style="font-size:32px"></i>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.4" style="padding: 0px;">
            <div class="col text-center" data-comp-id="column.4" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button class="button icon button-round button-shadowed fa-icon fa-refresh"
                        ng-click="refresh()"></button>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    </div>
</ion-view>