<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <button class="button button-block" data-comp-id="button.1"
                    ng-click="portraitOrientation()">Lock portrait orientation</button>
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <button class="button button-block" data-comp-id="button.2">Lock landscape orientation</button>
            </div>
        </div>
        <div class="row" data-comp-id="row.3">
            <div class="col" data-comp-id="column.3">
                <button class="button button-block" data-comp-id="button.3">Unlock orientation</button>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.4" style="padding: 0px;">
            <div class="col" data-comp-id="column.4" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button class="button icon button-round button-shadowed ion-arrow-left-c"
                        ng-click="app.go('app.pluginslist')"></button>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    </div>
</ion-view>